cluster.name: <%= @cluster_name %>
cloud.aws.access_key: <%= @access_key %>
cloud.aws.secret_key: <%= @secret_key %>
discovery.type: <%= @discovery_type %>
discovery.ec2.groups: <%= @security_groups %>
network.bind_host: 0.0.0.0
cloud.aws.region: <%= @region %>
node.name: <%= @nodename %>
discovery.zen.ping.multicast.enabled: false
index.search.slowlog.level: WARN
index.search.slowlog.threshold.query.warn: 500ms
index.search.slowlog.threshold.query.info: 100ms
index.search.slowlog.threshold.fetch.info: 100ms
index.number_of_shards: <%= @numshards %>
index.number_of_replicas: <%= @numreplicas %>
jmx.create_connector: true
jmx.port: 9400-9500
