#!/bin/sh

# description: starts-stops solr
# processname: solr-production
# pidfile: /var/run/solr/solr1.pid
# pidfile: /var/run/solr/solr2.pid

NAME="solr"
NUM_PROJECTS=1
PORTS[1]="8983"
PORTS[2]="9983"
PORTS_JMX[1]="3000"
PORTS_JMX[2]="3001"
SOLR_DIRS[1]="/apps/solr/example"
SOLR_DIRS[2]="/apps/solr/example2"
JAVA="/usr/bin/java"
JAVA_OPTS="-server -Xmx5120M -XX:+UseConcMarkSweepGC -XX:+UseParNewGC"

start() {
  mkdir -p /var/run/solr
  for i in $(eval echo {1..$NUM_PROJECTS})
  do 
    PIDFILE="/var/run/solr/solr$i.pid"
    if [ -f $PIDFILE ]; then
      echo "is already running!"
    else
      SOLR_DIR=${SOLR_DIRS[$i]}
      JAVA_OPTIONS="-Dproc_solr -Dhost=`hostname -f` -Djetty.port=${PORTS[$i]} -DzkHost=<%= @zookeeper_quorum %> -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=${PORTS_JMX[$i]} -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false ${JAVA_OPTS} -jar start.jar "
      LOG_FILE="/var/log/solr/solr$i.log"
      cd $SOLR_DIR
      $JAVA $JAVA_OPTIONS 2> $LOG_FILE &
      echo $! > $PIDFILE
      sleep 2
      echo "(Done)"
    fi
  done
  return 0
}

stop() {
  echo -n "Stopping $NAME... "
  for i in $(eval echo {1..$NUM_PROJECTS})
  do 
    PIDFILE="/var/run/solr/solr$i.pid"
    if [ -f $PIDFILE ]; then
      SOLR_DIR=${SOLR_DIRS[$i]}
      cd $SOLR_DIR
      sleep 2
      kill `cat /var/run/solr/solr$i.pid`
      rm $PIDFILE
      echo "(Done)"
    else
      echo "can not stop, it is not running!"
    fi
    
  done
  return 0
}

case "$1" in
  start)
    start
  ;;
  stop)
    stop
  ;;
  restart)
    stop
    sleep 5
    start
  ;;

*)
echo "Usage: $0 (start | stop | restart)"
exit 1
;;
esac
