<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
<property>
    <name>hadoop.tmp.dir</name>
    <value><%= @hadoop_tmp_dir %></value>
    <description>A base for other temporary directories.</description>
</property>

<property>
	<name>dfs.data.dir</name>
    <value><%= @dfs_data_dir %></value>
	<description>Data dirs for DFS.</description>
</property>

<property>
    <name>io.compression.codecs</name>
    <value><%= @io_compression_codecs %></value>
</property>

<property>
    <name>io.compression.codec.lzo.class</name>
    <value><%= @io_compression_codec_lzo_class %></value>
</property>

<property>
    <name>fs.default.name</name>
    <value><%= @fs_default_name %></value>
    <description>The name of the default file system. A URI which determines the FileSystem implementation.</description>
</property>

<property>
    <name>hadoop.security.authorization</name>
    <value><%= @hadoop_security_authorization %></value>
</property>

<property>
    <name>io.serializations</name>
    <value><%= @io_serialization %></value>
</property>
</configuration>
