*.sink.ganglia.class=org.apache.hadoop.metrics2.sink.ganglia.GangliaSink31
*.sink.ganglia.period=60
*.sink.ganglia.slope=jvm.metrics.gcCount=zero,jvm.metrics.memHeapUsedM=both
*.sink.ganglia.dmax=jvm.metrics.threadsBlocked=70,jvm.metrics.memHeapUsedM=40
namenode.sink.ganglia.servers=<%= @ganglia_server %>:<%= @ganglia_port %>
datanode.sink.ganglia.servers=<%= @ganglia_server %>:<%= @ganglia_port %>
jobtracker.sink.ganglia.servers=<%= @ganglia_server %>:<%= @ganglia_port %>
tasktracker.sink.ganglia.servers=<%= @ganglia_server %>:<%= @ganglia_port %>
maptask.sink.ganglia.servers=<%= @ganglia_server %>:<%= @ganglia_port %>
reducetask.sink.ganglia.servers=<%= @ganglia_server %>:<%= @ganglia_port %>
