<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
<property>
    <name>dfs.support.append</name>
    <value><%= @dfs_support_append %></value>
</property>

<property>
        <name>dfs.data.dir</name>
    <value><%= @dfs_data_dir %></value>
        <description>Data dirs for DFS.</description>
</property>

<property>
    <name>dfs.datanode.max.xcievers</name>
    <value><%= @dfs_datanode_max_xcievers %></value>
</property>

<property>
    <name>fs.s3n.awsAccessKeyId</name>
    <value><%= @fs_s3n_awsAccessKeyId %></value>
</property>

<property>
    <name>fs.s3n.awsSecretAccessKey</name>
    <value><%= @fs_s3n_awsSecretAccessKey %></value>
</property>

<property>
    <name>dfs.hosts.exclude</name>
    <value><%= @dfs_hosts_exclude %></value>
    <final>true</final>
</property>

<property>
    <name>dfs.replication</name>
    <value><%= @dfs_replication %></value>
    <description>Default block replication.</description>
</property>

<property>
    <name>fs.checkpoint.period</name>
    <value><%= @fs_checkpoint_period %></value>
</property>

<property>
    <name>dfs.http.address</name>
    <value><%= @dfs_http_address %></value>
    <description>
        The address and the base port where the dfs namenode web ui will listen on.
    </description>
</property>

<property>
    <name>dfs.secondary.http.address</name>
    <value><%= @dfs_secondary_http_address %></value>
    <description>
        The address and the base port where the dfs namenode web ui will listen on.
    </description>
</property>
</configuration>
