<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<configuration>
  <property>
    <name>mapred.jobtracker.taskScheduler</name>
    <value><%= @mapred_jobtracker_taskScheduler %></value>
  </property>

  <property>
    <name>io.sort.record.percent</name>
    <value><%= @io_sort_record_percent %></value>
  </property>

  <property>
    <name>io.sort.spill.percent</name>
    <value><%= @io_sort_spill_percent %></value>
  </property>

  <property>
    <name>io.sort.factor</name>
    <value><%= @io_sort_factor %></value>
  </property>

  <property>
    <name>io.sort.mb</name>
    <value><%= @io_sort_mb %></value>
  </property>

  <property>
    <name>mapred.child.java.opts</name>
    <value><%= @mapred_child_java_opts %></value>
  </property>

  <property>
    <name>mapred.child.ulimit</name>
    <value><%= @mapred_child_ulimit %></value>
    <final>true</final>
  </property>

  <property>
    <name>mapred.job.tracker</name>
    <value><%= @mapred_job_tracker %></value>
  </property>

  <property>
    <name>hbase.regionserver.lease.period</name>
    <value><%= @hbase_regionserver_lease_period %></value> <!-- 900 000, 15 minutes -->
  </property>

  <property>
    <name>hbase.rpc.timeout</name>
    <value><%= @hbase_rpc_timeout %></value> <!-- 15 minutes -->
  </property>

  <property>
    <name>mapred.job.tracker.handler.count</name>
    <value><%= @mapred_job_tracker_handler_count %></value>
    <final>true</final>
  </property>

  <property>
    <name>mapred.map.tasks.speculative.execution</name>
    <value><%= @mapred_map_tasks_speculative_execution %></value>
  </property>

  <property>
    <name>mapred.reduce.parallel.copies</name>
    <value><%= @mapred_reduce_parallel_copies %></value>
  </property>

  <property>
    <name>mapred.reduce.tasks</name>
    <value><%= @mapred_reduce_tasks %></value>
  </property>

  <property>
    <name>mapred.reduce.tasks.speculative.execution</name>
    <value><%= @mapred_reduce_tasks_speculative_execution %></value>
  </property>

  <property>
    <name>mapred.tasktracker.map.tasks.maximum</name>
    <value><%= @mapred_tasktracker_map_tasks_maximum %></value>
    <final>true</final>
  </property>

  <property>
    <name>mapred.tasktracker.reduce.tasks.maximum</name>
    <value><%= @mapred_tasktracker_reduce_tasks_maximum %></value>
    <final>true</final>
  </property>

  <property>
    <name>tasktracker.http.threads</name>
    <value><%= @tasktracker_http_threads %></value>
    <final>true</final>
  </property>

  <property>
    <name>mapred.output.compression.type</name>
    <value><%= @mapred_output_compression_type %></value>
    <description>If the job outputs are to compressed as SequenceFiles, how should
    they be compressed? Should be one of NONE, RECORD or BLOCK.
    Cloudera's Distribution for Hadoop switches this default to BLOCK
    for better performance.
    </description>
  </property>

  <property>
    <name>mapred.compress.map.output</name>
    <value><%= @mapred_compress_map_output %></value>
  </property>

  <property>
    <name>mapred.output.compression.codec</name>
    <value><%= @mapred_output_compression_codec %></value>
  </property>

  <property>
    <name>mapred.map.output.compression.codec</name>
    <value><%= @mapred_map_output_compression_codec %></value>
  </property>

  <property>
    <description>If users connect through a SOCKS proxy, we don't want their
    SocketFactory settings interfering with the socket factory associated
    with the actual daemons.</description>
    <name>hadoop.rpc.socket.factory.class.default</name>
    <value><%= @hadoop_rpc_socket_factory_class_default %></value>
    <final>true</final>
  </property>

  <property>
    <name>hadoop.rpc.socket.factory.class.ClientProtocol</name>
    <value></value>
    <final>true</final>
  </property>

  <property>
    <name>hadoop.rpc.socket.factory.class.JobSubmissionProtocol</name>
    <value></value>
    <final>true</final>
  </property>

  <property>
    <name>mapred.job.reuse.jvm.num.tasks</name>
    <value><%= @mapred_job_reuse_jvm_num_tasks %></value>
  </property>

  <property>
    <name>mapred.reduce.slowstart.completed.maps</name>
    <value><%= @mapred_reduce_slowstart_completed_maps %></value>
  </property>

  <property>
    <name>mapred.capacity-scheduler.queue.default.capacity</name>
    <value><%= @mapred_capacity_scheduler_queue_default_capacity %></value>
    <description>Percentage of the number of slots in the cluster that are
    to be available for jobs in this queue.
    </description>    
  </property>
  
  <property>
    <name>mapred.capacity-scheduler.queue.default.supports-priority</name>
    <value><%= @mapred_capacity_scheduler_queue_default_supports_priority %></value>
    <description>If true, priorities of jobs will be taken into 
    account in scheduling decisions.
    </description>
  </property>

  <property>
    <name>mapred.capacity-scheduler.queue.default.minimum-user-limit-percent</name>
    <value><%= @mapred_capacity_scheduler_queue_default_minimum_user_limit_percent %></value>
    <description> Each queue enforces a limit on the percentage of resources 
    allocated to a user at any given time, if there is competition for them. 
    This user limit can vary between a minimum and maximum value. The former
    depends on the number of users who have submitted jobs, and the latter is
    set to this property value. For example, suppose the value of this 
    property is 25. If two users have submitted jobs to a queue, no single 
    user can use more than 50% of the queue resources. If a third user submits
    a job, no single user can use more than 33% of the queue resources. With 4 
    or more users, no user can use more than 25% of the queue's resources. A 
    value of 100 implies no user limits are imposed. 
    </description>
  </property>

  <property>
    <name>mapred.capacity-scheduler.queue.default.maximum-initialized-jobs-per-user</name>
    <value><%= @mapred_capacity_scheduler_queue_default_maximum_initialized_jobs_per_user %></value>
    <description>The maximum number of jobs to be pre-initialized for a user
    of the job queue.
    </description>
  </property>
  
  <property>
    <name>mapred.capacity-scheduler.default-supports-priority</name>
    <value><%= @mapred_capacity_scheduler_default_supports_priority %></value>
    <description>If true, priorities of jobs will be taken into 
    account in scheduling decisions by default in a job queue.
    </description>
  </property>
  
  <property>
    <name>mapred.capacity-scheduler.default-minimum-user-limit-percent</name>
    <value><%= @mapred_capacity_scheduler_default_minimum_user_limit_percent %></value>
    <description>The percentage of the resources limited to a particular user
    for the job queue at any given point of time by default.
    </description>
  </property>

  <property>
    <name>mapred.capacity-scheduler.default-maximum-initialized-jobs-per-user</name>
    <value><%= @mapred_capacity_scheduler_default_maximum_initialized_jobs_per_user %></value>
    <description>The maximum number of jobs to be pre-initialized for a user
    of the job queue.
    </description>
  </property>

  <property>
    <name>mapred.capacity-scheduler.init-poll-interval</name>
    <value><%= @mapred_capacity_scheduler_init_poll_interval %></value>
    <description>The amount of time in miliseconds which is used to poll 
    the job queues for jobs to initialize.
    </description>
  </property>

  <property>
    <name>mapred.capacity-scheduler.init-worker-threads</name>
    <value><%= @mapred_capacity_scheduler_init_worker_threads %></value>
    <description>Number of worker threads which would be used by
    Initialization poller to initialize jobs in a set of queue.
    If number mentioned in property is equal to number of job queues
    then a single thread would initialize jobs in a queue. If lesser
    then a thread would get a set of queues assigned. If the number
    is greater then number of threads would be equal to number of 
    job queues.
    </description>
  </property>
  
  <property>
    <name>mapred.task.timeout</name>
    <value><%= @mapred_task_timeout %></value>
  </property>
</configuration>
