hbase.class=org.apache.hadoop.metrics.spi.NullContextWithUpdateThread
hbase.period=10
hbase.extendedperiod = 3600
hbase.class=org.apache.hadoop.metrics.ganglia.GangliaContext31
hbase.period=30
hbase.servers=<%= @ganglia_server %>:<%= @ganglia_port %>
jvm.class=org.apache.hadoop.metrics.spi.NullContextWithUpdateThread
jvm.period=10
jvm.class=org.apache.hadoop.metrics.ganglia.GangliaContext31
jvm.period=30
jvm.servers=<%= @ganglia_server %>:<%= @ganglia_port %>
rpc.class=org.apache.hadoop.metrics.spi.NullContextWithUpdateThread
rpc.period=10
rpc.class=org.apache.hadoop.metrics.ganglia.GangliaContext31
rpc.period=30
rpc.servers=<%= @ganglia_server %>:<%= @ganglia_port %>
rest.class=org.apache.hadoop.metrics.ganglia.GangliaContext31
rest.period=30
rest.servers=<%= @ganglia_server %>:<%= @ganglia_port %>
