<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<!--
/**
 * Copyright 2010 The Apache Software Foundation
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<configuration>
    <property>
    	<name>hbase.rootdir</name>
	    <value><%= @hbase_rootdir %></value>
	    <description>Directory shared by RegionServers</description>
    </property>

    <property>
    	<name>hbase.cluster.distributed</name>
	    <value><%= @hbase_cluster_distributed %></value>
	    <description>Mode of cluster</description>
    </property>

    <property>
        <name>hbase.zookeeper.quorum</name>
	    <value><%= @hbase_zookeeper_quorum %></value>
	    <description>Comma separated list of servers in Zookeeper Quorum</description>
    </property>

    <property>
    	<name>hbase.hregion.max.filesize</name>
	    <value><%= @hbase_hregion_max_filesize %></value>
    </property>

    <property>
    	<name>hbase.regionserver.handler.count</name>
	    <value><%= @hbase_regionserver_handler_count %></value>
    </property>

    <property>
    	<name>hbase.regionserver.global.memstore.lowerLimit</name>
	    <value><%= @hbase_regionserver_global_memstore_lowerLimit %></value>
    </property>

    <property>
    	<name>hbase.regionserver.global.memstore.upperLimit</name>
	    <value><%= @hbase_regionserver_global_memstore_upperLimit %></value>
    </property>
</configuration>
