# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

PS1="\[\e[1;32m\]\\u\[\e[0m\]@\[\e[1;31m\]\H\[\e[0m\] \\w]> "


# User specific aliases and functions
alias cdh='cd /apps/hadoop'
alias cdhb='cd /apps/hbase'


export FULL_HOST_NAME=`hostname -a`
export JAVA_HOME=/usr/java/default
export HADOOP_PREFIX=/apps/hadoop
export HADOOP_CONF_HOME=/apps/hadoop/conf
export HBASE_HOME=/apps/hbase
export ZOO_HOME=/apps/zookeeper
export ZOO_LOG_DIR=$ZOO_HOME/logs
export LZO_HOME=/apps/hadoop-lzo
export DEPLOY_ENV=<%= node.chef_environment %>



export PATH=$PATH:$HADOOP_PREFIX/bin:$HBASE_HOME/bin:$ZOO_HOME/bin:$JAVA_HOME/bin:~/bin
